[submodule "src/web"]
path = src/web
url = https://github.com/bddjr/BCSPanel-web

[submodule "src/web-login"]
path = src/web-login
url = https://github.com/bddjr/BCSPanel-web-login

[submodule "src/web-login-simple"]
path = src/web-login-simple
url = https://github.com/bddjr/BCSPanel-web-login-simple
