[submodule "frontend-antd"]
path = frontend-antd
url = https://github.com/BCSPanel/frontend-antd

[submodule "frontend-login2"]
path = frontend-login2
url = https://github.com/BCSPanel/frontend-login2
